<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24135724251-vgk6ba3qspim3bk9lrmi73rllb0v1nn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24135724251-vgk6ba3qspim3bk9lrmi73rllb0v1nn3</string>
	<key>API_KEY</key>
	<string>AIzaSyAdTE8RaLoUcgbgPvoW8WeH_KpNehL8Gps</string>
	<key>GCM_SENDER_ID</key>
	<string>24135724251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pdfListner</string>
	<key>PROJECT_ID</key>
	<string>docsaver-bcd94</string>
	<key>STORAGE_BUCKET</key>
	<string>docsaver-bcd94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24135724251:ios:99b6c499179c68749630fe</string>
</dict>
</plist>